<!-- Vue.js 条件与循环 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script type="text/javascript" src="./handlebars-v4.4.3.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div v-if="type === 'A'">
            A
        </div>
        <div v-else-if="type === 'B'">
            B
        </div>
        <div v-else-if="type === 'C'">
            C
        </div>
        <div v-else>
            Not A/B/C
        </div>

        <!-- Handlebars 模板 -->
        <!-- {{ #if ok}}
        <h1>yes</h1>
        {{if}} -->


        <!-- 循环 -->
        <ul>
            <li v-for="(v,k) in object">{{k}}={{v}}</li>
        </ul>

    </div>
</body>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            type: 'C',
            ok: true,
            object: {
                name: '菜鸟教程',
                url: 'http://www.runoob.com',
                slogan: '学的不仅是技术，更是梦想！'
            }
        }
    })
</script>