<!--Vue.js 模板语法 https://www.runoob.com/vue2/vue-template-syntax.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <title>Vue 测试实例 - 菜鸟教程(runoob.com)</title>
</head>

<body>
    <div id="app">
        <!-- 文本插值 -->
        <p>{{ message}}</p>
        <!-- v-html输出html -->
        <div v-html="html_contxt"></div>

        <!-- 这边介绍下v-model 用于表单双向数据绑定，建立mvvm模型
          <input v-model.number="age" type="number">   转化成数字
          <input v-model.trim="msg">   去掉空格
        -->
        <label for="r1">修改颜色</label><input type="checkbox" v-model="use" id="r1">
        <br>
        <!-- 绑定属性 可缩写 :href  -->
        <div v-bind:class='{"example-style":use}'>sdsdsds</div>
        <pre><a v-bind:href="url">菜鸟教程</a></pre>
        <!-- if指令 -->
        <p v-if="use">现在你看到我了</p>

        <!-- 绑定事件 可缩写  @click -->
        <a v-on:click="doSomething">v-on click</a>

        <!-- 处理用户输入
        v-model 指令用来在 input、select、textarea、checkbox、radio 等表单控件元素上创建双向数据绑定，根据表单上的值，自动更新绑定的元素的值。
         -->
        <br>
        <input v-model="message">
        <br>
        <!-- 支持js表达式 -->
        {{5+5}}<br>
        {{ ok ? 'YES' : 'NO' }}<br>
        {{ message.split('').reverse().join(',') }} <br>
        <div v-bind:id="'list-' + id">菜鸟教程</div>

        <!-- 过滤器 -->
        <p>{{ message | capitalize1(2,3) | capitalize2}}</p>
    </div>

</body>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            message: 'hello vue study',
            html_contxt: '<h1>菜鸟教程</h1>',
            use: false,
            url: 'http://www.runoob.com',
            ok: true,
            id:1
        },
        methods: {
            doSomething: () => {
                console.log("doSomething...")
            }
        },
        filters: {
            capitalize1: (value,arg2,arg3) => {
                return value + "-过滤器capitalize1+参数"+arg3
            },
            capitalize2: value => {
                return value + "-过滤器capitalize2"
            }
        }
    })
</script>

<style>
    .example-style {
        background: red;
        color: #eeeeee;
    }
</style>
